<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="static/css/teamstyle.css" rel="stylesheet">
    </head>
    <body>  
        <div class="container">
            <div class="section-title">
                <h1>Team Space Savers</h1>
            </div>
            <div class="row">
                <div class="column">
                    <div class="team-3">
                        <div class="team-img">
                            <img src="static/images/NS.jpg" alt="Navi">
                            <div class="team-social">
                                <a class="social-linkedin" href="https://www.linkedin.com/in/navisohi/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-github" href="https://github.com/PlainJane20"><i class="fab fa-github"></i></a>
                                <a class="social-envelope" href=""><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>Navi Sohi</h2>
                            <h3>Data Engineer</h3>
                            <p>Highly analytical process-oriented DE with in-depth knowledge of database types; research methodologies; big data capture, curation, manipulation.</p>
                            <h4>navi.k.sohi@gmail.com</h4>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="team-3">
                        <div class="team-img">
                            <img src="static/images/Lana.jpg" alt="Svetlana Akimova">
                            <div class="team-social">
                                <a class="social-linkedin" href="https://www.linkedin.com/in/lana-akimova/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-github" href="https://github.com/lanakimova"><i class="fab fa-github"></i></a>
                                <a class="social-envelope" href=""><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>Svetlanaf (Lana) Akimova</h2>
                            <h3>Developer</h3>
                            <p>Some text goes here that describes about team member</p>
                            <h4>havroshik@gmail.com</h4>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="team-3">
                        <div class="team-img">
                            <img src="static/images/RS.jpg" alt="Robert Smith">
                            <div class="team-social">
                                <a class="social-linkedin" href="linkedin.com/in/robert-smith-3b55a716b"><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-github" href="https://github.com/Robsmith95"><i class="fab fa-github"></i></a>
                                <a class="social-envelope" href=""><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>Robert Smith</h2>
                            <h3>Developer</h3>
                            <p>Some text goes here that describes about team member</p>
                            <h4>robertsmith1995@gmail.com</h4>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="team-3">
                        <div class="team-img">
                            <img src="static/images/MA.jpg" alt="Maggie Arellano">
                            <div class="team-social">
                                <a class="social-linkedin" href="https://www.linkedin.com/in/maggie-arellano-92333066/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="social-github" href="https://github.com/marellano22"><i class="fab fa-github"></i></a>
                                <a class="social-envelope" href=""><i class="fa fa-envelope"></i></a>
                            </div>
                        </div>
                        <div class="team-content">
                            <h2>Maggie Arellano</h2>
                            <h3>Developer</h3>
                            <p>Some text goes here that describes about team member</p>
                            <h4>m.arellano22@gmail.com</h4>
                        </div>
        </div> 
    </body>
</html>
