html {
  position: relative;
  min-height: 100%;
}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}



body {

  padding-bottom: 80px;
  
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
